.landing-page-container {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 50px 0;
    justify-content: space-around;
}

.container-flex-direction {
    flex-direction: row;
}

.our-goal {
    width: 30%;
}

.daily-featured {
    width: 50%;
}

p {
    font-size: 1.25rem;
}

@media screen and (max-width: 800px) {
    .container-flex-direction {
        flex-direction: column;
    }
    .our-goal {
        width: 100%;
        margin: 0 50px 25px;
    }
    .daily-featured {
        width: 100%;
        margin: 0 50px 25px;
    }
}