<div class="landing-page-container">
    <div class="our-goal">
        <p-card header="Our Goal" [style]="{ 'max-height': '400px', 'min-width': '300px' }" [dt]="cardDt">
            <p>
                We want to make it easier for people to find the way to donate to the children and their families.
                We've compiled a collection of every children's hospital in the country to make is easier for people to help.
                Each hospital card will contain details about the hospital and a link to their donation page.
            </p>
        </p-card>
    </div>
</div>
