body {
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--p-secondary-500);
    font-family: serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

:root {
    --header-toolbar-height: 64px;
    --footer-toolbar-height: 64px;
}